<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.iu.main.board.qna.QnaDAO">
	<sql id="searchSql">
		WHERE NUM>0 
  		<if test="kind=='subject'">
  			AND SUBJECT LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind=='contents'">
  			AND CONTENTS LIKE '%'||#{search}||'%'
  		</if>
  		<if test="kind=='name'">
  			AND NAME LIKE '%'||#{search}||'%'
  		</if>
	</sql>
	
	<select id="getTotal" resultType="Long" parameterType="Pager">
		SELECT COUNT(NUM) FROM QNA
		<include refid="searchSql"/>
	</select>
	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		SELECT NUM,NAME,SUBJECT,CREATEDATE,HIT 
		FROM	(SELECT ROWNUM R, B.*
				 FROM (SELECT * FROM QNA
				 			<include refid="searchSql"/>
				 			ORDER BY NUM DESC)B
				 ) 
		WHERE R BETWEEN #{startRow} AND #{lastRow}
	</select>		

	
	<select id="getDetail" resultType="QnaDTO" parameterType="QnaDTO">
		SELECT * FROM QNA A LEFT JOIN QNAFILE WHERE NUM=#{num}
	</select>
	
	<insert id="setAdd" parameterType="QnaDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO QNA VALUES(#{num},#{name},#{subject},#{contents},SYSDATE,0,0,0,0)
	</insert>
</mapper>